[Desktop Entry]
Type=Application
Name=BeeFileManager
GenericName=File Manager
Comment=Navigate every layer
Exec=beefilemanager %U
Icon=io.github.bartbeecoders.BeeFileManager
Terminal=false
Categories=Utility;FileTools;FileManager;
MimeType=inode/directory;
Keywords=files;folders;browser;explorer;manager;
StartupNotify=true
StartupWMClass=io.github.bartbeecoders.BeeFileManager
